nodered/flows_raspberrypi.json
[{"id":"738350b5.58bef","type":"tab","label":"MQTT => Datenbank","disabled":false,"info":""},{"id":"1dc84f9.0e139b","type":"tab","label":"MQTT => Live-Anzeige","disabled":false,"info":""},{"id":"2785f084.6864c8","type":"tab","label":"MYSQL => Charts","disabled":false,"info":""},{"id":"882eddfa.e1af2","type":"tab","label":"testing","disabled":false,"info":""},{"id":"5795cd6b.93bd44","type":"tab","label":"del","disabled":false,"info":""},{"id":"85c68c95.4ce8a","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"ea01569b.5105b8"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"79138a4.acb2d74","port":0}]}]},{"id":"111ad561.c9821b","type":"subflow","name":"Chart aus MySQL","info":"**Input:** Object\n\nBeispiel:\n{\n    \"zeitraum\": 12,   //Zeitraum in Stunden bis altuell\n    \"Solaranlage_Vorlauf\": true,  //Sensoren/Tabellenauswahl\n    \"Solaranlage_Ruecklauf\": true,\n    \"Solaranlage_Pumpe\": true,\n}\n\n**Output:** Object\n    passend fuer Dashboard Chart node","category":"","in":[{"x":80,"y":200,"wires":[{"id":"f152b32d.897768"}]}],"out":[{"x":660,"y":500,"wires":[{"id":"77b59cf6.4c6aec","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"93c37ed9.11e0d","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"915ba174.4353b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"UI-Raspberry BSZAM","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6e18048f.485634","type":"ui_group","z":"","name":"Input","tab":"93c37ed9.11e0d","order":1,"disp":true,"width":"12","collapse":false},{"id":"e473f1d2.012cb8","type":"ui_group","z":"","name":"output","tab":"93c37ed9.11e0d","order":2,"disp":true,"width":"12","collapse":false},{"id":"3689f87f.498ee8","type":"mqtt-broker","z":"","name":"MQTT Broker - localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8cb749c5.d6edb8","type":"ui_tab","z":"","name":"Sensoren","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a0e71bc3.1fcd88","type":"ui_group","z":"","name":"Verläufe","tab":"8cb749c5.d6edb8","order":1,"disp":true,"width":"14","collapse":false},{"id":"e7aac767.a52ba8","type":"ui_group","z":"","name":"Live Werte","tab":"8cb749c5.d6edb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dce9df8b.c13d4","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"sensordaten","tz":"","charset":""},{"id":"274aac91.9bfc4c","type":"ui_group","z":"","name":"Warmwasser","tab":"","order":2,"disp":false,"width":"12","collapse":false},{"id":"3f3548e8.645398","type":"ui_group","z":"","name":"Puffer-Druecke","tab":"","order":3,"disp":false,"width":"12","collapse":false},{"id":"bd6b66eb.f71178","type":"ui_group","z":"","name":"Custom Chart","tab":"8cb749c5.d6edb8","order":3,"disp":true,"width":"12","collapse":false},{"id":"c9de29c0.31bdc","type":"mqtt-broker","z":"","name":"mqtt broker 2","broker":"10.0.0.121","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e679f79c.c67e18","type":"ui_tab","z":"","name":"disabled","icon":"dashboard","disabled":true,"hidden":false},{"id":"5f2059ed.718728","type":"ui_group","z":"","name":"disabled","tab":"e679f79c.c67e18","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ba9bc03.faae34","type":"file","z":"85c68c95.4ce8a","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":40,"wires":[[]]},{"id":"f6468fdf.a1b32","type":"file in","z":"85c68c95.4ce8a","name":"","filename":"","format":"utf8","sendError":true,"x":530,"y":80,"wires":[["79138a4.acb2d74"]]},{"id":"a00dbe7c.25791","type":"json","z":"85c68c95.4ce8a","name":"","x":530,"y":40,"wires":[["6ba9bc03.faae34"]]},{"id":"79138a4.acb2d74","type":"json","z":"85c68c95.4ce8a","name":"","x":690,"y":80,"wires":[[]]},{"id":"ea01569b.5105b8","type":"function","z":"85c68c95.4ce8a","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    var loaded=context.get(strSafe)||0;\n    msg.filename =\"/home/pi/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        \n        //node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        //node.warn(\"Writing \" +strSafe);\n    }\n    return msg;    \n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["621a611f.b2d94"]]},{"id":"621a611f.b2d94","type":"switch","z":"85c68c95.4ce8a","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":60,"wires":[["a00dbe7c.25791"],["f6468fdf.a1b32"]]},{"id":"322f489d.30fae8","type":"mqtt in","z":"738350b5.58bef","name":"MQTT: #","topic":"#","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":160,"y":240,"wires":[["66af183c.a525e8","f32a1b37.3c0c58"]]},{"id":"66af183c.a525e8","type":"debug","z":"738350b5.58bef","name":"debug: mqtt string (json) ausgeben","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":360,"wires":[]},{"id":"2adfbd83.dca072","type":"ui_slider","z":"882eddfa.e1af2","name":"","label":"slider","tooltip":"","group":"6e18048f.485634","order":1,"width":"10","height":"1","passthru":false,"outs":"all","topic":"","min":0,"max":10,"step":"0.5","x":370,"y":120,"wires":[["2a3f44a1.98ff8c"]]},{"id":"2a3f44a1.98ff8c","type":"ui_chart","z":"882eddfa.e1af2","name":"","group":"e473f1d2.012cb8","order":2,"width":0,"height":0,"label":"Slider 10s","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":120,"wires":[[]]},{"id":"f32a1b37.3c0c58","type":"json","z":"738350b5.58bef","name":"json => js-objekt","property":"payload","action":"","pretty":false,"x":440,"y":240,"wires":[["d1e424c5.c7e108","79250985.d4ff38"]]},{"id":"d1e424c5.c7e108","type":"debug","z":"738350b5.58bef","name":"debug: JavaScript object ausgeben","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":300,"wires":[]},{"id":"c01dad98.c8652","type":"comment","z":"882eddfa.e1af2","name":"Testing: UI Slider => chart","info":"","x":210,"y":60,"wires":[]},{"id":"4a7dd6f9.b58f68","type":"mysql","z":"738350b5.58bef","mydb":"dce9df8b.c13d4","name":"MYSQL DB: sensordaten","x":1070,"y":240,"wires":[[]]},{"id":"79250985.d4ff38","type":"function","z":"738350b5.58bef","name":"Ankommende daten => SQL Befehle","func":"var d = new Date();\nvar epoch = d.getTime();\n\nif(msg.payload.time > 0){//TODO hier pruefen ob es sich um sensorwert handelt\n//topic letzten woerter aus topic entnehmen\nvar topic_elements = msg.topic.split('/');\nlastword = topic_elements[topic_elements.length - 1];\nsecondlastword = topic_elements[topic_elements.length - 2];\n\n\n//var object_out = {topic_elements: topic_elements, lastword: lastword, secondlastword: secondlastword};\n//msg.payload = object_out;\n\n//MYSQL insert command generieren\nmsg.topic = \"INSERT INTO `\"+secondlastword+\"_\"+lastword+\"` (`Timestamp`,`Value`) VALUES (\" + msg.payload.time + \",\"+ msg.payload.value + \")\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["b277187b.632ba8","4a7dd6f9.b58f68"]]},{"id":"b277187b.632ba8","type":"debug","z":"738350b5.58bef","name":"debug: generierter SQL Befehl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":300,"wires":[]},{"id":"cb711aee.22b338","type":"function","z":"738350b5.58bef","name":"SQL-Befehl (Hier anpassen um manuell tabelle zu erstellen)","func":"\n//custom sql befehl\n\nmsg.topic = \"CREATE TABLE `testing_beispielsensor1` (Timestamp bigint, Value float);\";\n//msg.topic = \"CREATE TABLE `testing_beispielsensor2` (Timestamp bigint, Value float);\";\n//msg.topic = \"CREATE TABLE `zimmer1_temperatur` (Timestamp bigint, Value float);\";\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["32882dd2.fb7cc2"]]},{"id":"81cdf7aa.da037","type":"inject","z":"738350b5.58bef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":720,"wires":[["cb711aee.22b338"]]},{"id":"bee1629e.5dcb38","type":"comment","z":"738350b5.58bef","name":"Hier muss fuer jeden neuen sensor/topic erst/einmalig manuell eine tabelle erstellt werden... TODO: evtl mit \"catch node\" automatisieren","info":"","x":470,"y":680,"wires":[]},{"id":"ca97aaa6.32b34","type":"mysql","z":"111ad561.c9821b","mydb":"dce9df8b.c13d4","name":"MYSQL Datenbank: sensordaten","x":740,"y":200,"wires":[["c55e984e.e960d"]]},{"id":"f152b32d.897768","type":"function","z":"111ad561.c9821b","name":"Sensorauswahl, Zeitraum => SQL Befehle","func":"\nvar timestart;\nvar timestop;\nd = new Date();\nvar output = [];\n\n//====anzahl / average der werte festlegen und als lokale variable setzen fuer average funktion===\nif (msg.payload.anzahl_werte > 0){\nflow.set('anzahl_werte', msg.payload.anzahl_werte);\n}else{\n    flow.set('anzahl_werte', 128);\n}\n\n//====timestart und timestop festlegen=====\nif(msg.payload.zeitraum > 0){                                                //wenn im Inputobject ein fester zeitraum deklariert ist\n    timestart = d.getTime() - msg.payload.zeitraum * 60*60*1000;\n    timestop = d.getTime();\n        timestart = timestart/1000;\n    timestop = timestop/1000;\n\n\n}else if ((msg.payload.timestart > 0) && (msg.payload.timestop > 0)){       //wenn im Inputobject timestart und timestop angegeben ist\n\n    timestart = msg.payload.timestart;\n    timestop = msg.payload.timestop;\n}\n\n\n\n\n\n//=====SQL befehle fuer jeden sensor generieren=======\nfor (var checkbox in msg.payload) {             \n    if (msg.payload[checkbox] && checkbox != \"null\" && checkbox != \"zeitraum\" && checkbox != \"timestart\" && checkbox != \"timestop\" && checkbox != \"anzahl_werte\"){\n        output.push({ topic: \"SELECT Value,Timestamp FROM `\"+checkbox+\"` WHERE Timestamp > \"+timestart+\" AND Timestamp <= \"+timestop});\n    }\n}\n\n\n\n\noutput[output.length-1].complete=true;\n\nreturn [ output ];\n\n","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["ca97aaa6.32b34"]]},{"id":"77120702.962448","type":"join","z":"111ad561.c9821b","name":"join objekte => array (mehrere einzelne sensoren -> 1 chart)","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":400,"wires":[["77b59cf6.4c6aec"]]},{"id":"77b59cf6.4c6aec","type":"function","z":"111ad561.c9821b","name":"Datenstruktur für Chart Node anpassen","func":"var data = [];\nvar data_sensor = [];\nvar series = [];\n\n//Datenstruktur nochmal wie vom Chart-Dashboard Node gefordert fuer mehrere linien anpassen (vgl. node-info)\nfor (i=0; i<msg.payload.length; i++){\nseries[i] = msg.payload[i].sensor;\ndata[i] = msg.payload[i].data[0];\n}\n\n\nvar object_out = {series: series, data: data};\n\n\nmsg.payload=[ object_out ];\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":360,"y":500,"wires":[[]]},{"id":"80af0acb.eab8f","type":"comment","z":"111ad561.c9821b","name":"Subflow: Chart aus MYSQL erstellen","info":"","x":200,"y":120,"wires":[]},{"id":"c55e984e.e960d","type":"function","z":"111ad561.c9821b","name":"Datenstruktur anpassen, doppelte Werte entfernen, Mittelwerte bilden","func":"var data = [];\nvar data_copy = [];\nvar data_sensor = [];\nvar series = [];\nvar accuracy = flow.get('anzahl_werte');\nvar object;\nvar timestamp_faktor = 1000;\n\n//TODO/FIXME: FALL WENN IM ZEITRAUM KEINE DATEN DA SIND? CRASH?\n\n\n\n//=======array kopieren, doppelte werte entfernen=======\n//ersten eintrag kopieren\nvar j=0;\ndata_copy[j] = {                        \n            Value: msg.payload[0].Value,\n            Timestamp: msg.payload[0].Timestamp\n        };\n\n//alle werte aus db durchlaufen\nfor (i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].Value !== data_copy[j].Value){    //wenn wert unglich letzter kopierter wert\n        data_copy[j+1] = {                              //letzten (alten/gleichen) wert vor neuen kopieren\n            Value: msg.payload[i-1].Value,\n            Timestamp: msg.payload[i-1].Timestamp\n        };\n            data_copy[j+2] = {                          //neuen wert kopieren\n            Value: msg.payload[i].Value,\n            Timestamp: msg.payload[i].Timestamp * timestamp_faktor\n        };\n        j=j+2;\n\n    } //ansonsten, wenn die aufeinanderfolgenden werte gleich sind wird nichts kopiert (doppelter wert entfernt)\n}\n\n//letzten wert hinzufuegen (sonst nicht bis zum ende (angegebene zeit) gezeichnet)\ndata_copy[data_copy.length] = {                              \n            Value: msg.payload[msg.payload.length-1].Value,\n            Timestamp: msg.payload[msg.payload.length-1].Timestamp\n};\n\n\n\n\n\n\n//========Input analysieren========\nvar mysqlrequest = msg.topic.split(\" \");            //SQL request befehl (topic) in array mit einzelnen woertern aufteilen\nvar sensorname = mysqlrequest[3];                   //4. wort als sensorname nutzen\n\nvar value_count = Object.keys(msg.payload).length;  //anzahl der vorhandenen werte (aus db)\nif (value_count < accuracy){  //wenn weniger werte vorhanden sind als gewollt werden\n    average = 1;    //es muessen keine mittelwerte berechnet werden (jeder vorhandene wert wird angezeigt)\n}else{\n    var average = Math.floor(value_count/accuracy);     //anzahl der jeweils zusammenzufassenden Werte/Gruppen bestimmen (mittelwert)\n}\n\n\n\n\n\n//===========Mittelwert bilden, objekte anpassen===========\nvar k = 0;\nvar i=0;\n\nif (data_copy.length > accuracy){                           //wenn daten mit entfernten duplicates td. mehr werte als gefordert hat\n    //dann wieder alle werte aus db verwenden zum mittelwert bilden verwenden (ansonsten wuerde es nicht der tatsaechliche mittelwert weden, weil nur werte bei wertaenderung vorhanden sind)\n    for (i=0; i<msg.payload.length-average; i=i+average){   \n            var sum = 0;\n            for (j=i; j<i+average; j++){                    //aus jeder gruppe an werten mittelwert bilden\n                sum = sum + msg.payload[j].Value;\n            }\n            ValueAverage = sum/average;\n            \n            sum = 0;\n            for (j=i; j<i+average; j++){                    //aus jeder gruppe an timestamps mittelwert bilden\n                sum = sum + msg.payload[j].Timestamp;\n            }\n            TimestampAverage = sum/average;\n            \n             object = {                                     //ergebnis in output schreiben\n                x: TimestampAverage * timestamp_faktor,\n                y: ValueAverage\n            };\n            data_sensor[k] = object;\n            k++;\n    }\n}else{                                      //wenn in daten mit entfernten doppelten werten weniger werte vorhanden als angezeigt werden sollen\n    for (i=0; i<data_copy.length; i++){     //oben bestimmte werte (ohne duplicates) in das ausgabeobject (gefordertes Format) kopieren\n        object = {\n            x: data_copy[i].Timestamp,\n            y: data_copy[i].Value\n        };\n        data_sensor[i] = object;\n    }\n}\n    \n\n    \ndata[0] = data_sensor;                              //objekt array in array einfuagen\nvar object_out = {sensor: sensorname, data: data};  //objekt fuer chart mit sensorname und werten erstellen\nmsg.payload=object_out;\n//debug: msg.payload=[data_copy];\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["77120702.962448"]]},{"id":"e75943fe.34e508","type":"subflow:111ad561.c9821b","z":"2785f084.6864c8","name":"","env":[],"x":670,"y":340,"wires":[["f0d752ea.6ade78"]]},{"id":"3cfc6c94.d7477c","type":"inject","z":"2785f084.6864c8","name":"3 Sensoren 72h","topic":"","payload":"{\"zeitraum\":72,\"anzahl_werte\":128,\"testing_beispielsensor1\":true,\"testing_beispielsensor2\":true,\"zimmer1_temperatur\":true}","payloadType":"json","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":340,"wires":[["e75943fe.34e508"]]},{"id":"f0d752ea.6ade78","type":"ui_chart","z":"2785f084.6864c8","name":"","group":"a0e71bc3.1fcd88","order":1,"width":"0","height":"0","label":"Sensorwerte aus Datenbank 72h","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0c00","#006dff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":340,"wires":[[]]},{"id":"a60dde1a.a00da","type":"comment","z":"738350b5.58bef","name":"Alle MQTT Topics ab \"/\" subscriben (Wildcard #)","info":"Alle MQTT Topics subscriben (Wildcard #)","x":280,"y":200,"wires":[]},{"id":"e8cd2cfc.21bba8","type":"comment","z":"738350b5.58bef","name":"Ankommende Daten ueber MQTT in MYSQL Datenbank speichern","info":"Alle MQTT Topics subscriben / ausgeben (Wildcard #)","x":260,"y":100,"wires":[]},{"id":"1535907c.8ebf4","type":"ui_chart","z":"1dc84f9.0e139b","name":"","group":"a0e71bc3.1fcd88","order":3,"width":0,"height":0,"label":"Verlauf aus MQTT","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":160,"wires":[[]]},{"id":"fb102379.2a6e8","type":"mqtt in","z":"1dc84f9.0e139b","name":"","topic":"sensordaten/zimmer1/temperatur","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":310,"y":200,"wires":[["28ef284f.d0638"]]},{"id":"28ef284f.d0638","type":"json","z":"1dc84f9.0e139b","name":"json => js-objekt","property":"payload","action":"","pretty":false,"x":560,"y":200,"wires":[["ef421d92.ba61b8","9f6057e1.c081f"]]},{"id":"ef421d92.ba61b8","type":"function","z":"1dc84f9.0e139b","name":"extract value","func":"//nur der Wert wird ausgegeben\n//msg.payload.timestamp wird hier nicht benoetigt und ignoriert\n\nmsg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["1535907c.8ebf4","9f6057e1.c081f","cd0d7dfc.6acb38"]]},{"id":"9f6057e1.c081f","type":"debug","z":"1dc84f9.0e139b","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":120,"wires":[]},{"id":"ea3b5f33.dbe0a8","type":"comment","z":"1dc84f9.0e139b","name":"Aktuelle Sensorwerte Live aus MQTT Darstellen","info":"","x":220,"y":80,"wires":[]},{"id":"6175b261.ab0e64","type":"comment","z":"2785f084.6864c8","name":"Sensorauswahl, Zeitraum und Genauigkeit im festen Intervall an erstellten Subflow übergeben","info":"","x":560,"y":380,"wires":[]},{"id":"722715c6.e0cd84","type":"comment","z":"2785f084.6864c8","name":"selbst erstellter Subflow: relevante Werte aus Datenbank holen, mittelwerte, Datenformat","info":"","x":890,"y":300,"wires":[]},{"id":"d3e27901.f3f828","type":"comment","z":"2785f084.6864c8","name":"Chart auf userinterface darstellen","info":"","x":1030,"y":380,"wires":[]},{"id":"37df6a32.42c3ae","type":"comment","z":"2785f084.6864c8","name":"In regelmäßgen Intervallen Charts aus gespeicherten Sensordaten generieren","info":"","x":350,"y":220,"wires":[]},{"id":"4e17fed1.b5753","type":"subflow:111ad561.c9821b","z":"2785f084.6864c8","name":"","env":[],"x":670,"y":480,"wires":[["ce85f47f.5c6858"]]},{"id":"736cc07a.77f398","type":"inject","z":"2785f084.6864c8","name":"Temperatursensor 12h","topic":"","payload":"{\"zeitraum\":12,\"anzahl_werte\":128,\"zimmer1_temperatur\":true}","payloadType":"json","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":480,"wires":[["4e17fed1.b5753"]]},{"id":"ce85f47f.5c6858","type":"ui_chart","z":"2785f084.6864c8","name":"","group":"a0e71bc3.1fcd88","order":2,"width":"0","height":"0","label":"Temperaturwert aus  Datenbank 12h","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0c00","#006dff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":480,"wires":[[]]},{"id":"32882dd2.fb7cc2","type":"mysql","z":"738350b5.58bef","mydb":"dce9df8b.c13d4","name":"MYSQL DB: sensordaten","x":930,"y":720,"wires":[["fc2db80d.790c28"]]},{"id":"b9099de4.7fbb38","type":"inject","z":"882eddfa.e1af2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":320,"wires":[["d7f368c6.eda1c8"]]},{"id":"d7f368c6.eda1c8","type":"mqtt out","z":"882eddfa.e1af2","name":"","topic":"testing/timestamp","qos":"","retain":"","broker":"3689f87f.498ee8","x":650,"y":320,"wires":[]},{"id":"e4fe614.8390fa","type":"comment","z":"882eddfa.e1af2","name":"Testing: Timestamp auf def. MQTT Topic publishen","info":"Alle Topics subscriben / ausgeben (Wildcard #)","x":270,"y":260,"wires":[]},{"id":"af930716.996ad8","type":"ui_slider","z":"2785f084.6864c8","name":"","label":"zeitraum (h)","tooltip":"","group":"bd6b66eb.f71178","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":360,"y":660,"wires":[["25615e65.b364b2"]]},{"id":"9b5f6005.760378","type":"ui_slider","z":"2785f084.6864c8","name":"","label":"anzahl der punkte (8-512)","tooltip":"","group":"bd6b66eb.f71178","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"8","max":"512","step":1,"x":400,"y":720,"wires":[["558ae07d.8e467"]]},{"id":"25615e65.b364b2","type":"function","z":"2785f084.6864c8","name":"set local","func":"flow.set('zeitraum', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":660,"wires":[["fda6ca27.2ba9"]]},{"id":"558ae07d.8e467","type":"function","z":"2785f084.6864c8","name":"set local","func":"flow.set('werte', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":720,"wires":[["fda6ca27.2ba9"]]},{"id":"fda6ca27.2ba9","type":"function","z":"2785f084.6864c8","name":"get local","func":"\nmsg.payload = {\n    zeitraum: flow.get('zeitraum'),\n    anzahl_werte: flow.get('werte'),\n    zimmer1_temperatur: true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":680,"wires":[["dfeeeb3a.a509a"]]},{"id":"dfeeeb3a.a509a","type":"subflow:111ad561.c9821b","z":"2785f084.6864c8","name":"","env":[],"x":990,"y":680,"wires":[["eb22dd93.6afb1"]]},{"id":"eb22dd93.6afb1","type":"ui_chart","z":"2785f084.6864c8","name":"","group":"bd6b66eb.f71178","order":3,"width":"0","height":"0","label":"Chart nach Auswahl","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0c00","#006dff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":680,"wires":[[]]},{"id":"7e7c54fb.ec5594","type":"comment","z":"2785f084.6864c8","name":"Chart aus parameterauswahl","info":"","x":200,"y":620,"wires":[]},{"id":"d26f38bf.6ce4f8","type":"comment","z":"1dc84f9.0e139b","name":"MQTT: spezifisches Topic empfangen","info":"","x":330,"y":160,"wires":[]},{"id":"13c799a4.107e1e","type":"function","z":"738350b5.58bef","name":"Custom SQL Befehl (delete)","func":"\n//custom sql befehl\n//msg.topic = \"CREATE TABLE `testing_beispielsensor` (Timestamp bigint, Value float);\";\nmsg.topic = \"DELETE FROM `zimmer1_temperatur` WHERE `Value` > 35 ;\";\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":420,"y":2160,"wires":[["7d9ccbd4.fefcc4"]]},{"id":"9f68b392.85a83","type":"inject","z":"738350b5.58bef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2160,"wires":[["13c799a4.107e1e"]]},{"id":"7d9ccbd4.fefcc4","type":"mysql","z":"738350b5.58bef","mydb":"dce9df8b.c13d4","name":"MYSQL DB: sensordaten","x":730,"y":2160,"wires":[[]]},{"id":"f458209b.77664","type":"comment","z":"738350b5.58bef","name":"Manuell einen SQL Befehl ausführen","info":"","x":160,"y":2100,"wires":[]},{"id":"76c3dec4.9eea","type":"ui_chart","z":"5795cd6b.93bd44","name":"","group":"e473f1d2.012cb8","order":2,"width":0,"height":0,"label":"Count","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"8320","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":260,"wires":[[]]},{"id":"17a6b6fb.eda289","type":"function","z":"5795cd6b.93bd44","name":"string => int","func":"\nvar integer = parseInt(msg.payload, 10);\nmsg.payload = integer;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["76c3dec4.9eea","b6383ef3.3ac2a8"]]},{"id":"ddf3ce.94f7643","type":"exec","z":"5795cd6b.93bd44","command":"echo $(cat /var/log/openvpn-status.log  | grep bszam | wc -l)","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"get active users","x":460,"y":260,"wires":[["17a6b6fb.eda289"],[],[]]},{"id":"6ee4fbd1.109c94","type":"inject","z":"5795cd6b.93bd44","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":"1","x":250,"y":260,"wires":[["ddf3ce.94f7643"]]},{"id":"b6383ef3.3ac2a8","type":"debug","z":"5795cd6b.93bd44","name":"debug: user count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":220,"wires":[]},{"id":"29db630.5d5151e","type":"comment","z":"5795cd6b.93bd44","name":"Users aus log datei mittels bash befehl aus datei auslesen","info":"","x":270,"y":200,"wires":[]},{"id":"95cc05f.9fd6178","type":"exec","z":"5795cd6b.93bd44","command":"/opt/*ssh*","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"start ssh tunnel","x":540,"y":120,"wires":[["3c233c57.dc48f4"],["3c233c57.dc48f4"],["3c233c57.dc48f4"]]},{"id":"3c233c57.dc48f4","type":"debug","z":"5795cd6b.93bd44","name":"debug: stdout, stderr, returncode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":120,"wires":[]},{"id":"840fe75a.0cc3a","type":"inject","z":"5795cd6b.93bd44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":240,"y":120,"wires":[["95cc05f.9fd6178"]]},{"id":"246c7489.ceddec","type":"comment","z":"5795cd6b.93bd44","name":"Testing: bash cmd ausfuehren","info":"","x":180,"y":60,"wires":[]},{"id":"356765c2.28b05a","type":"mqtt in","z":"882eddfa.e1af2","name":"","topic":"testing/timestamp","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":320,"y":400,"wires":[["bb1b5cfb.ebba4"]]},{"id":"bb1b5cfb.ebba4","type":"debug","z":"882eddfa.e1af2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":400,"wires":[]},{"id":"cd0d7dfc.6acb38","type":"ui_gauge","z":"1dc84f9.0e139b","name":"","group":"e7aac767.a52ba8","order":1,"width":0,"height":0,"gtype":"gage","title":"Raum1 aus MQTT","label":"Grad C","format":"{{value}}","min":"15","max":"30","colors":["#00d5ff","#80ff00","#ca3838"],"seg1":"","seg2":"","x":1010,"y":200,"wires":[]},{"id":"5d0b4a2b.621314","type":"mqtt in","z":"738350b5.58bef","name":"MQTT: sensoren/#","topic":"#","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":220,"y":480,"wires":[["51c014d3.1d61ec"]]},{"id":"51c014d3.1d61ec","type":"debug","z":"738350b5.58bef","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":480,"wires":[]},{"id":"552caf25.7a4168","type":"exec","z":"882eddfa.e1af2","command":"/opt/get-cpu-usage.sh","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"get cpu usage","x":480,"y":720,"wires":[["6c39417f.c5b04","9a4bf833.22474"],["9a4bf833.22474"],[]]},{"id":"4b02fb2f.f76e4c","type":"inject","z":"882eddfa.e1af2","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":"1","x":290,"y":720,"wires":[["552caf25.7a4168"]]},{"id":"6c39417f.c5b04","type":"ui_chart","z":"882eddfa.e1af2","name":"","group":"6e18048f.485634","order":3,"width":0,"height":0,"label":"CPU usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":760,"wires":[[]]},{"id":"9a4bf833.22474","type":"debug","z":"882eddfa.e1af2","name":"debug: cpu-usage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":660,"wires":[]},{"id":"6d4fce56.98794","type":"comment","z":"882eddfa.e1af2","name":"CPU auslastung mittels bash skript abfragen","info":"","x":270,"y":660,"wires":[]},{"id":"ef840057.84f9e","type":"exec","z":"5795cd6b.93bd44","command":"grep 't=' < /sys/bus/w1/devices/28-0316a279cac6/w1_slave | grep -o '.....$'","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"grep 't=' < /sys/bus/w1/devices/28-0316a279cac6/w1_slave...","x":560,"y":460,"wires":[["1503dd58.f1a5d3","d810b59e.46c578"],[],[]]},{"id":"5684d547.249e9c","type":"inject","z":"5795cd6b.93bd44","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":"1","x":230,"y":460,"wires":[["ef840057.84f9e"]]},{"id":"1503dd58.f1a5d3","type":"function","z":"5795cd6b.93bd44","name":"string => float (temperaturwert)","func":"\nvar integer = parseInt(msg.payload, 10);\nvar temp = integer/1000;\n\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["de84a13a.288d2"]]},{"id":"de84a13a.288d2","type":"ui_gauge","z":"5795cd6b.93bd44","name":"","group":"5f2059ed.718728","order":2,"width":0,"height":0,"gtype":"gage","title":"Raum1 aus file","label":"Grad C","format":"{{value}}","min":"15","max":"26","colors":["#00d5ff","#1ff100","#ff0000"],"seg1":"","seg2":"","x":1200,"y":460,"wires":[]},{"id":"c99b7404.6f3fa8","type":"comment","z":"5795cd6b.93bd44","name":"DS18B20 Temperatursensor testweise mittels bash befehl aus datei auslesen","info":"Alle Topics subscriben / ausgeben (Wildcard #)","x":310,"y":400,"wires":[]},{"id":"d810b59e.46c578","type":"debug","z":"5795cd6b.93bd44","name":"debug: ds18b20 temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":400,"wires":[]},{"id":"d0f6e372.0a4438","type":"comment","z":"738350b5.58bef","name":"Wenn fehler vom MSQL node im debug debugfenster auftauchen  Error: ER_NO_SUCH_TABLE: Table 'sensordaten.zimmer1_temperatur:","info":"","x":480,"y":640,"wires":[]},{"id":"fc2db80d.790c28","type":"debug","z":"738350b5.58bef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":720,"wires":[]},{"id":"453b1b29.324614","type":"comment","z":"2785f084.6864c8","name":"FIXME:  subflow fixen, wenn mehr werte angefragt werden als vorhanden weden im chart zufaellige striche angezeigt!!!","info":"","x":860,"y":780,"wires":[]},{"id":"f8c72dd6.63b6f8","type":"mqtt in","z":"1dc84f9.0e139b","name":"","topic":"sensordaten/testing/beispielsensor1","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":300,"y":340,"wires":[["3bc4599d.c928be"]]},{"id":"3bc4599d.c928be","type":"json","z":"1dc84f9.0e139b","name":"json => js-objekt","property":"payload","action":"","pretty":false,"x":560,"y":340,"wires":[["4cfc4bde.f5f38c"]]},{"id":"4cfc4bde.f5f38c","type":"function","z":"1dc84f9.0e139b","name":"extract value","func":"//nur der Wert wird ausgegeben\n//msg.payload.timestamp wird hier nicht benoetigt und ignoriert\n\nmsg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["a170f151.cadd7"]]},{"id":"a170f151.cadd7","type":"ui_gauge","z":"1dc84f9.0e139b","name":"","group":"e7aac767.a52ba8","order":1,"width":0,"height":0,"gtype":"gage","title":"Beispielsensor1 aus MQTT","label":"Grad C","format":"{{value}}","min":"15","max":"30","colors":["#00d5ff","#80ff00","#ca3838"],"seg1":"","seg2":"","x":1040,"y":340,"wires":[]},{"id":"e5c033c.2891fd","type":"mqtt in","z":"1dc84f9.0e139b","name":"","topic":"sensordaten/testing/beispielsensor2","qos":"2","datatype":"auto","broker":"3689f87f.498ee8","x":300,"y":400,"wires":[["ed15f410.b55d2"]]},{"id":"ed15f410.b55d2","type":"json","z":"1dc84f9.0e139b","name":"json => js-objekt","property":"payload","action":"","pretty":false,"x":560,"y":400,"wires":[["3a0f1b62.b215c4"]]},{"id":"3a0f1b62.b215c4","type":"function","z":"1dc84f9.0e139b","name":"extract value","func":"//nur der Wert wird ausgegeben\n//msg.payload.timestamp wird hier nicht benoetigt und ignoriert\n\nmsg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["358276e6.2aa992"]]},{"id":"358276e6.2aa992","type":"ui_gauge","z":"1dc84f9.0e139b","name":"","group":"e7aac767.a52ba8","order":1,"width":0,"height":0,"gtype":"gage","title":"Beispielsensor2 aus MQTT","label":"Grad C","format":"{{value}}","min":"15","max":"30","colors":["#00d5ff","#80ff00","#ca3838"],"seg1":"","seg2":"","x":1040,"y":400,"wires":[]},{"id":"137d9669.f8a2ca","type":"comment","z":"738350b5.58bef","name":"Debug: Saemtliche MQTT Daten ausgeben","info":"Alle MQTT Topics subscriben (Wildcard #)","x":190,"y":440,"wires":[]},{"id":"44209a31.00f744","type":"comment","z":"738350b5.58bef","name":"!!!!!!!!! Manuelles erstellen der tabellen noetig !!!!!!!!!!","info":"","x":210,"y":600,"wires":[]}]